@import './base.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-weight: normal;
}
